In [69]:
import plotly.express as px
import pandas as pd
import io

In [90]:
from google.colab import files
uploaded = files.upload()

Saving 03_Employee_Diversity_in_Tech.csv to 03_Employee_Diversity_in_Tech (1).csv

In [91]:
dados_csv = pd.read_csv(io.BytesIO(uploaded['03_Employee_Diversity_in_Tech.csv']), ';')
dados_csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,Date,Type,Company,Female%,Male%,%White,%Asian,%Latino,%Black,%Multi,%Other,%Undeclared
0,2014,Social Media,Facebook,31.0,69.0,57.0,34.0,4.0,2.0,3.0,-,NaN
1,2014,Social Media,Instagram,31.0,69.0,57.0,34.0,4.0,2.0,3.0,-,NaN
2,2014,Social Media,Google+,30.0,70.0,61.0,30.0,3.0,2.0,4.0,NaN,NaN
3,2014,Social Media,YouTube,30.0,70.0,61.0,30.0,3.0,2.0,4.0,NaN,NaN
4,2014,Social Media,LinkedIn,39.0,61.0,53.0,38.0,4.0,2.0,2.0,1.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
156,2018,Tech,Netflix,43.0,57.0,49.0,24.0,6.0,4.0,NaN,4.00,13.0
157,2018,Tech,Yelp,54.0,46.0,62.0,15.0,10.0,6.0,5.0,2.00,NaN
158,2018,Entity,DiversityInc top 50,44.0,56.0,78.0,6.0,7.0,9.0,NaN,NaN,NaN
159,2018,Entity,Fortune 500 CEOs,6.0,94.0,73.0,21.0,3.0,2.0,0.5,0.50,NaN
160,2018,Government,US Congress,20.0,80.0,80.0,3.0,7.0,9.0,NaN,1.00,NaN

In [92]:
dados_csv.drop(columns=['Type','%White','%Asian','%Latino','%Black','%Multi','%Other', '%Undeclared'], inplace=True)
dados_csv

     Date              Company  Female%  Male%
0    2014             Facebook     31.0   69.0
1    2014            Instagram     31.0   69.0
2    2014              Google+     30.0   70.0
3    2014              YouTube     30.0   70.0
4    2014             LinkedIn     39.0   61.0
..    ...                  ...      ...    ...
156  2018              Netflix     43.0   57.0
157  2018                 Yelp     54.0   46.0
158  2018  DiversityInc top 50     44.0   56.0
159  2018     Fortune 500 CEOs      6.0   94.0
160  2018          US Congress     20.0   80.0

[161 rows x 4 columns]

In [93]:
dados_csv['Company'].value_counts()

Facebook               5
Indiegogo              5
US Congress            5
Fortune 500 CEOs       5
DiversityInc top 50    5
Microsoft              5
Pandora                5
Salesforce             5
Amazon                 5
Groupon                5
Intel                  5
Instagram              5
Dell                   5
Nvidia                 5
Ingram Micro           5
HP                     5
Flickr                 5
Google+                5
eBay                   5
LinkedIn               5
Pinterest              5
Tumblr                 5
YouTube                5
Twitter                5
Yahoo!                 5
Google                 5
Apple                  5
Cisco                  5
U.S. Population        4
Etsy                   4
Kaiser Permanente      3
Venture Capitalists    3
Uber                   3
Slack                  1
AirBnB                 1
Netflix                1
Yelp                   1
Name: Company, dtype: int64

In [95]:
df2 = dados_csv[dados_csv['Date']==2018]
df2

     Date              Company  Female%  Male%
63   2018      U.S. Population     51.0   49.0
64   2018             Facebook     35.0   65.0
65   2018            Instagram     35.0   65.0
66   2018              Google+     31.0   69.0
67   2018              YouTube     31.0   69.0
..    ...                  ...      ...    ...
156  2018              Netflix     43.0   57.0
157  2018                 Yelp     54.0   46.0
158  2018  DiversityInc top 50     44.0   56.0
159  2018     Fortune 500 CEOs      6.0   94.0
160  2018          US Congress     20.0   80.0

[66 rows x 4 columns]